.App {
  max-width: 600px;
  margin: 30px auto;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  );
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}
